/*****HEADER*****/
header, footer {
  background-image: linear-gradient(to top, lightblue, pink);
  border: 1px black solid; }

@keyframes texto {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

h1 {
  text-decoration: underline;
  animation-name: texto;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

/**Titulo y formulario del header**/
#itemUno {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  size: 100%; }

/**Logo header**/
#imagenLogo {
  z-index: 1;
  width: 50%;
  height: 90%;
  border-style: dashed; }

@keyframes animacionLogo {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

#linkLogo {
  z-index: 1;
  animation-name: animacionLogo;
  animation-iteration-count: initial;
  animation-duration: 2s; }

/*MIXIN SIN PARAMETROS*/
#logoCarrito {
  width: 80px;
  height: 80px;
  border-radius: 200px;
  border-style: solid; }

#logoCuenta {
  width: 80px;
  height: 80px;
  border-radius: 200px;
  margin-right: 5px;
  border-style: solid; }

/*******MAIN******/
#productosVenta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  #productosVenta img {
    margin: 3px;
    width: 5cm;
    height: 5cm; }

#imagenIndex {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 20rem;
  box-shadow: 1px 2px 2px 1px gray; }

h2 {
  margin-top: 40px;
  margin-bottom: 30px; }

#pruebaCard {
  border: 3px black groove;
  width: fit-content;
  margin-bottom: 15px;
  margin-left: 2px;
  margin-right: 2px; }
  #pruebaCard a {
    text-decoration: none; }
  #pruebaCard p {
    font-size: 13px;
    color: black;
    text-align: center;
    font-family: Bold; }
  #pruebaCard:hover {
    box-shadow: lightblue 1px 3px 3px 1px; }

/*****FOOTER*****/
/*EXTEND*/
footer {
  margin-top: 5px; }

/*MAPS GET*/
.list-group-item a img {
  width: 35px;
  height: 35px;
  border-radius: 200px; }

/*Imagen de pagina Cuenta en construccion */
#imagenConstruccion {
  border: 2px black dashed;
  box-shadow: 2px 2px 2px 2px gray;
  margin: 4% 10% 4% 28%; }

/*MAPS*/
.imagen1 {
  box-shadow: red 2px 2px 2px 2px; }

.imagen2 {
  box-shadow: blue 2px 2px 2px 2px; }

.imagen3 {
  box-shadow: green 2px 2px 2px 2px; }

.imagen4 {
  box-shadow: yellow 2px 2px 2px 2px; }

/*********QUERIES*********/
/****VISTA MOVIL***/
@media screen and (max-width: 767px) and (min-width: 300px) {
  #imagenLogo {
    width: 70%;
    height: 75%;
    margin: 3% 1% 1% 1%;
    border-style: dashed; }
  #itemUno {
    justify-content: flex-start; }
  h1 {
    font-size: large; }
  #linkLogo {
    margin-top: 3%; }
  #formularioBusqueda {
    display: none; }
  #itemDos {
    padding: 0;
    margin-top: 3%; }
    #itemDos a img {
      display: flex;
      justify-content: flex-end;
      width: 70%;
      height: 70%; }
  #imagenIndex {
    height: auto; }
  #productosVenta {
    margin-left: 4px; }
    #productosVenta img {
      margin: 2px;
      width: 3cm;
      height: 3cm; }
  #navFooter {
    display: block; }
  #imagenConstruccion {
    margin-left: 1px; }
  #botonCompra {
    margin-bottom: 30px; }
  #productoIndividual {
    width: 9cm;
    height: 8cm;
    margin-bottom: 1px !important; }
  #descripcionProductoIndividual {
    margin-left: 50px; }
  #indicadorUnidadesProducto {
    font-size: 13px; } }

@media screen and (max-width: 1023px) and (min-width: 768px) {
  #itemDos {
    width: 5%;
    display: flex;
    flex: auto;
    justify-content: flex-end;
    padding-left: 0; }
  #linkLogo {
    margin-top: 3%; }
  #imagenLogo {
    margin-top: 3%; } }
