/*****HEADER*****/
header {
  background-image: linear-gradient(to top, lightblue, pink);
  border: 1px $color-borde solid;
}

@keyframes texto {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

h1 {
  text-decoration: underline;
  animation-name: texto;
  animation-duration: 3s - $duracion-animacion;
  animation-iteration-count: infinite;
}

/**Titulo y formulario del header**/

#itemUno {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  size: 100%;
}

/**Logo header**/

#imagenLogo {
  z-index: 1;
  width: 50%;
  height: 90%;
  border-style: dashed;
}

@keyframes animacionLogo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#linkLogo {
  z-index: 1;
  animation-name: animacionLogo;
  animation-iteration-count: initial;
  animation-duration: 3s - $duracion-animacion;
}

/*MIXIN SIN PARAMETROS*/

@mixin logosHeader {
  width: 80px;
  height: 80px;
  border-radius: 200px;

}

#logoCarrito {
  @include logosHeader;
}

#logoCuenta {
  @include logosHeader;
  margin-right: 5px;
}