/*******MAIN******/

#productosVenta {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  

  img {
    margin: 3px;
    width: 5cm;
    height: 5cm;
    
  }
}

#imagenIndex {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 20rem;
  box-shadow: 1px 2px 2px 1px gray;
}

h2 {
  margin-top: 40px;
  margin-bottom: 30px;
}

#pruebaCard{
  border: 3px $color-borde groove;
  width:fit-content;
  margin-bottom: 15px;
  margin-left: 2px ;
  margin-right: 2px ;

  a{
    text-decoration: none;
  }

   p {
    font-size:13px;
    color: $color-borde;
    text-align: center;
    font-family:Bold;
    
  }
}

#pruebaCard:hover{
  box-shadow: $color-sombra 1px 3px 3px 1px ;
  
}