/*******MAIN******/

#productosVenta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img {
    margin: 3px 3px 15px 3px;
    width: 5cm;
    height: 5cm;
    padding-top: 20px;
  }
}

#imagenIndex {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 20rem;
  box-shadow: 1px 2px 2px 1px gray;
}

h2 {
  margin-top: 40px;
  margin-bottom: 30px;
}

h3 {
  text-align: center;
}

#pruebaCard {
  border: 3px $color-borde groove;
  width: 230px;
  height: 280px;
  margin-bottom: 15px;
  margin-left: 2px;
  margin-right: 2px;

  a {
    text-decoration: none;
  }

  p {
    font-size: 13px;
    color: $color-borde;
    text-align: center;
    font-family: Bold;
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: $color-sombra 1px 2px 2px 3px;
    
  }
}

#formularioCuenta {
  width: 250px;
  height: 580px;
  padding-left: 18px;
  margin-bottom: 100px;
  margin-top: 18px;
}

#formularioContacto {
  @extend #formularioCuenta;
  border: 1px $color-borde solid;
  padding-right: 10px;
}