//Variables
$color-borde: black;
$duracion-animacion: 1s;
$color-sombra: lightblue;
$margenlogo: 3%;

@import "header", "main", "footer";

/*MAPS*/

$mapImagenes:(imagen1: red, imagen2:blue, imagen3: green, imagen4:yellow);

@each $imagen,
$color in $mapImagenes {
  .#{$imagen} {
    box-shadow: $color 2px 2px 2px 2px;
  }
}

/*********QUERIES*********/

/****VISTA MOVIL***/

@media screen and (max-width: 767px) and (min-width: 300px) {
  #imagenLogo {
    width: 70%;
    height: 75%;
    margin: 3% 1% 1% 1%;
    border-style: dashed;
  }

  #itemUno {
    justify-content: flex-start;
  }

  h1 {
    font-size: large;
  }

  #linkLogo {
    margin-top: $margenlogo;
  }

  #formularioBusqueda {
    display: none;
  }

  #itemDos {
    padding: 0;
    margin-top: $margenlogo;


    a img {
      display: flex;
      justify-content: flex-end;
      width: 70%;
      height: 70%;
    }
  }

  #imagenIndex {
    height: auto;
  }

  #productosVenta {
    margin-left: 4px;

    img {
      margin: 2px;
      width: 3cm;
      height: 3cm;
    }
  }

  #navFooter {
    display: block;
  }

  #imagenConstruccion {
    margin-left: 1px;
  }

  #botonCompra {
    margin-bottom: 30px;
  }

  #productoIndividual {
    width: 9cm;
    height: 8cm;
    margin-bottom: 1px !important;
  }

  #descripcionProductoIndividual {
    margin-left: 50px;
  }

  #indicadorUnidadesProducto {
    font-size: 13px;
  }

}


/****VISTA TABLET***/
@media screen and (max-width: 1023px) and (min-width: 768px) {

  #itemDos {
    width: 5%;
    display: flex;
    flex: auto;
    justify-content: flex-end;
    padding-left: 0;
  }

  #linkLogo {
    margin-top: $margenlogo;
  }

  #imagenLogo {
    margin-top: $margenlogo
  }

}